.DS_Store
.ruff_cache/
.coverage
accounts/
results-raw/
results-parsed/
accounts.db*
data/
data_media/
dist/
__pycache__/
*.py[cod]
*.egg-info/
.env
outputs/
tools/cookies.json
*.log
*.sqlite
*.db
.replit
replit.nix
.upm/
.cache/
